<!DOCTYPE html>
<html>
  <head>
    <script src="client.js"></script>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="controls">
      <ul>
        <% services.forEach(function(service, i){ %>
          <li>
            <% if(i === 0) { %>
              <input type="radio" name="service" value=<%= service %> id=<%= service %> checked />
            <% } else { %>
              <input type="radio" name="service" value=<%= service %> id=<%= service %> />
            <% } %>
            <label for=<%= service %>><%= service %></label>
          </li>
        <% }); %>
      </ul>

      <button id="getAllData">Get all data</button>
    </div>
    <pre id="output"></pre>
    <footer>EJS</footer>
  </body>
</html>
